/* body{
    width: 414px;
    height: 896px;
} */

#search{
    width: 344px;
    height: 35px;
    top: 39px;
    left: 35px;
    margin-top: 54px;
    font-size: x-large;
  
      

}


div{
    align-items: center;
    text-align: center;
    
    justify-content: center;

}


body{
    width: 414px;
    height: 896px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("img/10777673.jpg");
    width: 414px;
    height: 896;
    color: white;
   
   }
  
   img {
    margin-top: 50px;
    max-width: 100%;
    
   }


   h1{
    color: white;
   }

   button{
    width: 80px;
    height: 40px;
    top: 39px;
    margin-top: 53px;
    margin-left: 10px;
    border-radius: 5px;

   }

    